# Exercise: 

In this exercise, you will work with a data set in "mtcars.csv" that contains information on 31 cars. We will create a collection of scatterplots showing the relationship between horsepower (hp) and miles per gallon (mpg), displacement(disp) and quarter mile time (qsec).  Also, in each of these plots we will distinguish between automatic (am = 0) and manual (am=1) cars. Please follow the following steps: 

**Step 0:** create a gitHub repository for this exercise. In your local repository, copy this jupyter file. Make sure you commit and push changes to your online repository after each step. 

**Step 1:** Read the file into a data frame

**Step 2:** Dispaly statistics about differnt columns

**Step 3:** Create two dataframes from the origial one to represent manual and automatic cars

**Step 4:** Now Let's first create a 1x3 figure on which we will place the three plots. Give the figure a title of "Understanding the Effect of Horspower on other Features"

**Step 5:** On the first axis plot hp versus miles per gallon for manual cars only

**Step 6:** Add to the same axis a plot for automatic car, using a different color

**Step 7:** Repeat 5 and 6 for hp vs qsec

**Step 8:** Repeat 5 and 6 for hp vs disp

**Step 9:** Use descriptive labels, good markers, colors, and legends to enhance your graph

**Step 10:** Save figures to your computer 


Advanced: Add two horizontal lines to the first plot denoting the respective average mpg for automatic and manual cars respectively.

## Read the file

In [11]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv("mtcars.csv")

## Dispaly statistics about differnt columns

In [13]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

##  Create two dataframes from the origial one to represent manual and automatic cars

In [10]:
df_am = df[df['am'] == 1]